In [74]:

import gc
import polars as pl
from gensim.test.utils import common_texts
from gensim.models import Word2Vec
import seaborn as sns
import pandas as pd
from collections import Counter
from heapq import nlargest



df_train = pl.read_parquet('../data/train.parquet')
df_test = pl.read_parquet('../data/test.parquet')

In [31]:
# Load in a sample to a pandas df

sample_size = 150

chunks = pd.read_json("../data/test.jsonl", lines=True, chunksize = sample_size)

for c in chunks:
    sample_test_df = c
    print(c)
    break

      session                                             events
0    12899779  [{'aid': 59625, 'ts': 1661724000278, 'type': '...
1    12899780  [{'aid': 1142000, 'ts': 1661724000378, 'type':...
2    12899781  [{'aid': 141736, 'ts': 1661724000559, 'type': ...
3    12899782  [{'aid': 1669402, 'ts': 1661724000568, 'type':...
4    12899783  [{'aid': 255297, 'ts': 1661724000572, 'type': ...
..        ...                                                ...
145  12899924  [{'aid': 195179, 'ts': 1661724032545, 'type': ...
146  12899925  [{'aid': 526157, 'ts': 1661724032999, 'type': ...
147  12899926  [{'aid': 76309, 'ts': 1661724033017, 'type': '...
148  12899927  [{'aid': 1127083, 'ts': 1661724034268, 'type':...
149  12899928  [{'aid': 805848, 'ts': 1661724034631, 'type': ...

[150 rows x 2 columns]

In [38]:
for e, c in enumerate(chunks):
    print("this is e: " + str(e))
    print("this is c: " + str(c))
    if e > 4:
        break

this is e: 0
this is c:         session                                             events
600000   600000  [{'aid': 1448212, 'ts': 1659359041479, 'type':...
600001   600001  [{'aid': 585386, 'ts': 1659359041589, 'type': ...
600002   600002  [{'aid': 311893, 'ts': 1659359041621, 'type': ...
600003   600003  [{'aid': 687933, 'ts': 1659359041665, 'type': ...
600004   600004  [{'aid': 195812, 'ts': 1659359041690, 'type': ...
...         ...                                                ...
749995   749995  [{'aid': 1437146, 'ts': 1659367111303, 'type':...
749996   749996  [{'aid': 1457846, 'ts': 1659367111330, 'type':...
749997   749997  [{'aid': 179604, 'ts': 1659367111348, 'type': ...
749998   749998  [{'aid': 613440, 'ts': 1659367111406, 'type': ...
749999   749999  [{'aid': 118034, 'ts': 1659367111438, 'type': ...

[150000 rows x 2 columns]
this is e: 1
this is c:         session                                             events
750000   750000  [{'aid': 975580, 'ts': 1659367111446, 'type': ...
750001   750001  [{'aid': 117831, 'ts': 1659367111456, 'type': ...
750002   750002  [{'aid': 1200136, 'ts': 1659367111545, 'type':...
750003   750003  [{'aid': 222085, 'ts': 1659367111595, 'type': ...
750004   750004  [{'aid': 1075465, 'ts': 1659367111650, 'type':...
...         ...                                                ...
899995   899995  [{'aid': 652633, 'ts': 1659374717808, 'type': ...
899996   899996  [{'aid': 1501313, 'ts': 1659374717838, 'type':...
899997   899997  [{'aid': 1211694, 'ts': 1659374717901, 'type':...
899998   899998  [{'aid': 1009313, 'ts': 1659374717923, 'type':...
899999   899999  [{'aid': 1213499, 'ts': 1659374717929, 'type':...

[150000 rows x 2 columns]
this is e: 2
this is c:          session                                             events
900000    900000  [{'aid': 1632747, 'ts': 1659374717945, 'type':...
900001    900001  [{'aid': 1466881, 'ts': 1659374717981, 'type':...
900002    900002  [{'aid': 1532781, 'ts': 1659374717991, 'type':...
900003    900003  [{'aid': 1793976, 'ts': 1659374718005, 'type':...
900004    900004  [{'aid': 1805820, 'ts': 1659374718103, 'type':...
...          ...                                                ...
1049995  1049995  [{'aid': 971126, 'ts': 1659380898492, 'type': ...
1049996  1049996  [{'aid': 1831510, 'ts': 1659380898591, 'type':...
1049997  1049997  [{'aid': 332852, 'ts': 1659380898593, 'type': ...
1049998  1049998  [{'aid': 485847, 'ts': 1659380898595, 'type': ...
1049999  1049999  [{'aid': 1330284, 'ts': 1659380898637, 'type':...

[150000 rows x 2 columns]
this is e: 3
this is c:          session                                             events
1050000  1050000  [{'aid': 25858, 'ts': 1659380898639, 'type': '...
1050001  1050001  [{'aid': 1181343, 'ts': 1659380898658, 'type':...
1050002  1050002  [{'aid': 351760, 'ts': 1659380898672, 'type': ...
1050003  1050003  [{'aid': 999122, 'ts': 1659380898755, 'type': ...
1050004  1050004  [{'aid': 234143, 'ts': 1659380898784, 'type': ...
...          ...                                                ...
1199995  1199995  [{'aid': 55472, 'ts': 1659388038211, 'type': '...
1199996  1199996  [{'aid': 731477, 'ts': 1659388038223, 'type': ...
1199997  1199997  [{'aid': 695107, 'ts': 1659388038380, 'type': ...
1199998  1199998  [{'aid': 1578016, 'ts': 1659388038400, 'type':...
1199999  1199999  [{'aid': 232749, 'ts': 1659388038402, 'type': ...

[150000 rows x 2 columns]
this is e: 4
this is c:          session                                             events
1200000  1200000  [{'aid': 324040, 'ts': 1659388038480, 'type': ...
1200001  1200001  [{'aid': 862690, 'ts': 1659388038551, 'type': ...
1200002  1200002  [{'aid': 1018656, 'ts': 1659388038853, 'type':...
1200003  1200003  [{'aid': 363674, 'ts': 1659388038855, 'type': ...
1200004  1200004  [{'aid': 2820, 'ts': 1659388038882, 'type': 'c...
...          ...                                                ...
1349995  1349995  [{'aid': 210921, 'ts': 1659422413831, 'type': ...
1349996  1349996  [{'aid': 385065, 'ts': 1659422414015, 'type': ...
1349997  1349997  [{'aid': 367396, 'ts': 1659422414138, 'type': ...
1349998  1349998  [{'aid': 1230504, 'ts': 1659422414182, 'type':...
1349999  1349999  [{'aid': 294021, 'ts': 1659422414208, 'type': ...

[150000 rows x 2 columns]
this is e: 5
this is c:          session                                             events
1350000  1350000  [{'aid': 914299, 'ts': 1659422414258, 'type': ...
1350001  1350001  [{'aid': 1436788, 'ts': 1659422414265, 'type':...
1350002  1350002  [{'aid': 902749, 'ts': 1659422414308, 'type': ...
1350003  1350003  [{'aid': 1201155, 'ts': 1659422414412, 'type':...
1350004  1350004  [{'aid': 666582, 'ts': 1659422414560, 'type': ...
...          ...                                                ...
1499995  1499995  [{'aid': 1263450, 'ts': 1659434902258, 'type':...
1499996  1499996  [{'aid': 1650981, 'ts': 1659434902264, 'type':...
1499997  1499997  [{'aid': 381251, 'ts': 1659434902307, 'type': ...
1499998  1499998  [{'aid': 500609, 'ts': 1659434902309, 'type': ...
1499999  1499999  [{'aid': 1769102, 'ts': 1659434902317, 'type':...

[150000 rows x 2 columns]

In [33]:
print(chunks)

<pandas.io.json._json.JsonReader object at 0x1501cb970>

In [34]:
sample_test_df.head()

    session                                             events
0  12899779  [{'aid': 59625, 'ts': 1661724000278, 'type': '...
1  12899780  [{'aid': 1142000, 'ts': 1661724000378, 'type':...
2  12899781  [{'aid': 141736, 'ts': 1661724000559, 'type': ...
3  12899782  [{'aid': 1669402, 'ts': 1661724000568, 'type':...
4  12899783  [{'aid': 255297, 'ts': 1661724000572, 'type': ...

In [35]:
sample_submission = pd.read_csv("../data/sample_submission.csv")
sample_submission.head()

      session_type                labels
0  12899779_clicks  129004 126836 118524
1   12899779_carts  129004 126836 118524
2  12899779_orders  129004 126836 118524
3  12899780_clicks  129004 126836 118524
4   12899780_carts  129004 126836 118524

Lets find the most common article for each different type of action

In [36]:
sample_size = 150000

chunks = pd.read_json("../data/train.jsonl", lines=True, chunksize = sample_size)

clicks_article_list = []
carts_article_list = []
orders_article_list = []

for e, c in enumerate(chunks):
    
    # Save time by not using all the data
    if e > 2:
        break
    
    sample_train_df = c
    
    for i, row in c.iterrows():
        actions = row['events']
        for action in actions:
            if action['type'] == 'clicks':
                clicks_article_list.append(action['aid'])
            elif action['type'] == 'carts':
                carts_article_list.append(action['aid'])
            else:
                orders_article_list.append(action['aid'])

In [37]:
#chunks = df_train.sample(n=150000, seed=42)

In [42]:
# Create dictionaries with articles and their frequencies
article_click_freq = Counter(clicks_article_list)
article_carts_freq = Counter(carts_article_list)
article_order_freq = Counter(orders_article_list)

In [92]:
top_click_article = sorted(article_click_freq, key=article_click_freq.get, reverse=True)[:20]
top_carts_article = sorted(article_carts_freq, key=article_carts_freq.get, reverse=True)[:20]
top_order_article = sorted(article_order_freq, key=article_order_freq.get, reverse=True)[:20]

In [91]:
#top_click_article

In [93]:
# Create a dict with this info
frequent_articles = {'clicks': top_click_article, 'carts':top_carts_article, 'order':top_order_article}

In [94]:
for action in ['clicks', 'carts', 'order']:
    print(f'Most frequent articles for {action}: {frequent_articles[action][:5]}')

Most frequent articles for clicks: [29735, 1733943, 108125, 1603001, 832192]
Most frequent articles for carts: [80222, 29735, 1733943, 166037, 485256]
Most frequent articles for order: [80222, 166037, 1022566, 351335, 1629608]

y_test = week nr 5 
y_train = weeks 1-4

y= each step in a session after truncation by timestamp (not done yet by the costumer in real session)
x= every step in the session, before truncation by timestamp. (all the clicks, etc. that the costumer has done in a session)

in order to measure if our baseline module are predicting correctly, one of the recommendations should have been clicked, added to chart or ordered in the y_test.

For each session in the test data, your task it to predict the aid values for each type that occur after the last timestamp ts the test session. In other words, the test data contains sessions truncated by timestamp, and you are to predict what occurs after the point of truncation.

In [100]:
df_train

shape: (216716096, 4)
┌──────────┬─────────┬────────────┬──────┐
│ session  ┆ aid     ┆ ts         ┆ type │
│ ---      ┆ ---     ┆ ---        ┆ ---  │
│ i32      ┆ i32     ┆ i32        ┆ u8   │
╞══════════╪═════════╪════════════╪══════╡
│ 0        ┆ 1517085 ┆ 1659304800 ┆ 0    │
│ 0        ┆ 1563459 ┆ 1659304904 ┆ 0    │
│ 0        ┆ 1309446 ┆ 1659367439 ┆ 0    │
│ 0        ┆ 16246   ┆ 1659367719 ┆ 0    │
│ ...      ┆ ...     ┆ ...        ┆ ...  │
│ 12899777 ┆ 384045  ┆ 1661723976 ┆ 0    │
│ 12899777 ┆ 384045  ┆ 1661723986 ┆ 0    │
│ 12899778 ┆ 561560  ┆ 1661723983 ┆ 0    │
│ 12899778 ┆ 32070   ┆ 1661723994 ┆ 0    │
└──────────┴─────────┴────────────┴──────┘

In [ ]:
X = []

for session in df_train:
    x += clicks, added to charts or ordered
    if x == one of the recommendation:
        y is correct predicted
    else failier