# Reading the parquet file

## importing the libraries and reading the Parquet file

In [19]:

import gc
import polars as pl
from gensim.test.utils import common_texts
from gensim.models import Word2Vec

train = pl.read_parquet('../data/train.parquet')
test = pl.read_parquet('../data/test.parquet')

In [20]:
sentences_df =  pl.concat([train, test]).groupby('session').agg(
    pl.col('aid').alias('sentence')
)

sentences = sentences_df['sentence'].to_list()
del sentences_df; gc.collect()

0

In [21]:
train

shape: (216716096, 4)
┌──────────┬─────────┬────────────┬──────┐
│ session  ┆ aid     ┆ ts         ┆ type │
│ ---      ┆ ---     ┆ ---        ┆ ---  │
│ i32      ┆ i32     ┆ i32        ┆ u8   │
╞══════════╪═════════╪════════════╪══════╡
│ 0        ┆ 1517085 ┆ 1659304800 ┆ 0    │
│ 0        ┆ 1563459 ┆ 1659304904 ┆ 0    │
│ 0        ┆ 1309446 ┆ 1659367439 ┆ 0    │
│ 0        ┆ 16246   ┆ 1659367719 ┆ 0    │
│ ...      ┆ ...     ┆ ...        ┆ ...  │
│ 12899777 ┆ 384045  ┆ 1661723976 ┆ 0    │
│ 12899777 ┆ 384045  ┆ 1661723986 ┆ 0    │
│ 12899778 ┆ 561560  ┆ 1661723983 ┆ 0    │
│ 12899778 ┆ 32070   ┆ 1661723994 ┆ 0    │
└──────────┴─────────┴────────────┴──────┘

In [22]:
test

shape: (6928123, 4)
┌──────────┬─────────┬────────────┬──────┐
│ session  ┆ aid     ┆ ts         ┆ type │
│ ---      ┆ ---     ┆ ---        ┆ ---  │
│ i32      ┆ i32     ┆ i32        ┆ u8   │
╞══════════╪═════════╪════════════╪══════╡
│ 12899779 ┆ 59625   ┆ 1661724000 ┆ 0    │
│ 12899780 ┆ 1142000 ┆ 1661724000 ┆ 0    │
│ 12899780 ┆ 582732  ┆ 1661724058 ┆ 0    │
│ 12899780 ┆ 973453  ┆ 1661724109 ┆ 0    │
│ ...      ┆ ...     ┆ ...        ┆ ...  │
│ 14571578 ┆ 519105  ┆ 1662328775 ┆ 0    │
│ 14571579 ┆ 739876  ┆ 1662328775 ┆ 0    │
│ 14571580 ┆ 202353  ┆ 1662328781 ┆ 0    │
│ 14571581 ┆ 1100210 ┆ 1662328791 ┆ 0    │
└──────────┴─────────┴────────────┴──────┘

In [32]:
train['type'].unique()

shape: (3,)
Series: 'type' [u8]
[
	0
	1
	2
]

In [31]:
train['aid'].n_unique()

1855603

In [30]:
train['session'].n_unique()

12899779

In [33]:
train.describe()

shape: (7, 5)
┌────────────┬──────────────┬───────────────┬──────────────┬──────────────┐
│ describe   ┆ session      ┆ aid           ┆ ts           ┆ type         │
│ ---        ┆ ---          ┆ ---           ┆ ---          ┆ ---          │
│ str        ┆ f64          ┆ f64           ┆ f64          ┆ f64          │
╞════════════╪══════════════╪═══════════════╪══════════════╪══════════════╡
│ count      ┆ 2.16716096e8 ┆ 2.16716096e8  ┆ 2.16716096e8 ┆ 2.16716096e8 │
│ null_count ┆ 0.0          ┆ 0.0           ┆ 0.0          ┆ 0.0          │
│ mean       ┆ 4.7028e6     ┆ 928805.229105 ┆ 1.6605e9     ┆ 0.125021     │
│ std        ┆ 3.6650e6     ┆ 536691.747782 ┆ 696145.02771 ┆ 0.395534     │
│ min        ┆ 0.0          ┆ 0.0           ┆ 1.6593e9     ┆ 0.0          │
│ max        ┆ 1.2899778e7  ┆ 1.855602e6    ┆ 1.6617e9     ┆ 2.0          │
│ median     ┆ 3.915777e6   ┆ 928109.0      ┆ 1.6605e9     ┆ 0.0          │
└────────────┴──────────────┴───────────────┴──────────────┴──────────────┘